<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AnimeDL</title>
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="css/uikit.min.css">
		<link rel="stylesheet" href="css/glide.core.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
		<script src="js/jquery.min.js"></script>
		<script src="js/uikit.min.js"></script>
		<script src="js/fontawesome-all.min.js"></script>
		<script src="js/glide.min.js"></script>
		<script src="js/site-scripts.js"></script>
    </head>
	
    <body>
		<div class="wrapper">
			<header class="site-header">
				<div class="topbar">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-medium-7-10 uk-hidden-small">
							<i class="icon-lightbulb"></i>
							<span>Tip: You can put a comment, tip or announcement link here!</span>
						</div><!-- .uk-width-medium-7-10 .uk-hidden-small -->
						
						<div class="uk-width-medium-3-10">
							<div class="uk-text-right">
								<a href="#" title="Follow us on Facebook!" target="_blank">
									<i class="icon-facebook-squared"></i>
								</a>
								
								<a href="#" title="Follow us on Twitter!" target="_blank">
									<i class="icon-twitter-squared"></i>
								</a>
								
								<a href="#" title="Follow us on Google Plus!" target="_blank">
									<i class="icon-gplus-squared"></i>
								</a>
								
								<a href="#" title="Follow our Feed!" target="_blank">
									<i class="icon-rss-squared"></i>
								</a>
							</div><!-- .uk-text-right -->
						</div><!-- .uk-width-medium-3-10 -->
					</div><!-- .uk-grid .uk-grid-small -->
				</div><!-- .topbar -->	
				
				<div class="heading">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-small-1-1 uk-width-medium-3-10">
							<a href="#"><img class="site-logo" src="img/logo.jpg" alt="Logo"></a>
						</div><!-- .uk-width-small-1-1 .uk-width-medium-3-10 -->	
						
						<div class="uk-width-small-1-1 uk-width-medium-7-10 uk-hidden-small">
							<a href="#"><img class="uk-float-right" src="img/728x90.png" alt="728x90 Banner"></a>
						</div><!-- .uk-width-small-1-1 .uk-width-medium-7-10 .uk-hidden-small -->
					</div><!-- .uk-grid .uk-grid-small -->
				</div><!-- .heading -->				
				
				<div class="navbar">
					<ul>
						<li><a href="index.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="page.html"><i class="icon-star"></i> Page</a></li>
						<li class="active">
							<a href="#"><i class="icon-list-bullet"></i> Series</a>
							<ul>
								<li><a href="#">Most Popular</a>
									<ul>
										<li><a href="post.html">One Piece</a></li>
										<li><a href="post.html">Overlord</a></li>
									</ul>
								</li>
								<li><a href="#">Most Downloaded</a>
									<ul>
										<li><a href="post.html">Monster Musume</a></li>
										<li><a href="post.html">Boruto</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="search.html"><i class="icon-search"></i> Advanced Search</a></li>
					</ul>
				</div><!-- .navbar -->
			</header><!-- .site-header -->
			
			<div class="site-content">			
				<div class="uk-grid uk-grid-small">										
					<div class="uk-width-medium-4-6">
						<h2 class="latest-posted-title margin-top-remove">
							<i class="icon-tags"></i> Genre: Action
						</h2><!-- .latest-posted-title -->
						
						<div class="uk-grid uk-grid-small latest-posted">
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Steins;Gate-0-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 4</div>
										
										<div class="posted-meta">Abril 11, 2018</div>
								
										<h3 class="posted-title">
											Steins;Gate 0 (01/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Alice-or-Alice-Siscon-Niisan-to-Futago-no-Imouto-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 1</div>
										
										<div class="posted-meta">Abril 11, 2018</div>
								
										<h3 class="posted-title">
											Alice or Alice: Siscon Niisan to Futago no Imouto (02/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Last-Period-Owarinaki-Rasen-no-Monogatari-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 1</div>
										
										<div class="posted-meta">Abril 11, 2018</div>
								
										<h3 class="posted-title">
											Last Period: Owarinaki Rasen no Monogatari (01/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Boruto-Next-Generations-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 3</div>
										
										<div class="posted-meta">Abril 11, 2018</div>
								
										<h3 class="posted-title">
											Boruto: Naruto Next Generations (53/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Yu-Gi-Oh!-VRAINS-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 6</div>
										
										<div class="posted-meta">Abril 11, 2018</div>
								
										<h3 class="posted-title">
											Yu-Gi-Oh! VRAINS (47/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/3D-Kanojo-Real-Girl-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 2</div>
										
										<div class="posted-meta">Abril 10, 2018</div>
								
										<h3 class="posted-title">
											3D Kanojo: Real Girl (02/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Lupin-III-Part-V-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 2</div>
										
										<div class="posted-meta">Abril 10, 2018</div>
								
										<h3 class="posted-title">
											Lupin III: Part V (02/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Hitori-no-Shita-The-Outcast-2nd-Season-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 0</div>
										
										<div class="posted-meta">Abril 10, 2018</div>
								
										<h3 class="posted-title">
											Hitori no Shita: The Outcast 2nd Season (13/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Tachibanakan-Triangle-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 4</div>
										
										<div class="posted-meta">Abril 10, 2018</div>
								
										<h3 class="posted-title">
											Tachibanakan Triangle (02/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Tokyo-Ghoul-re-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 2</div>
										
										<div class="posted-meta">Abril 10, 2018</div>
								
										<h3 class="posted-title">
											Tokyo Ghoul:re (02/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Gundam-Build-Divers-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 1</div>
										
										<div class="posted-meta">Abril 10, 2018</div>
								
										<h3 class="posted-title">
											Gundam Build Divers (02/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
							
							<div class="uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="single-posted">
									<a href="post.html">
										<div class="posted-thumb">
											<img src="img/Black-Clover-300x168.jpg">
										</div><!-- .posted-thumb -->
										
										<div class="posted-comments"><i class="icon-comment"></i> 2</div>
										
										<div class="posted-meta">Abril 10, 2018</div>
								
										<h3 class="posted-title">
											Black Clover (27/??) [HD] [Subbed]
										</h3><!-- .posted-title -->
									</a>
								</div><!-- .single-posted -->
							</div><!-- .uk-width-small-1-3 .uk-width-medium-1-2 .uk-width-large-1-3 -->
						</div><!-- .uk-grid .uk-grid-small .latest-posted -->
						
						<div class="site-pagination">
							<ul class="uk-pagination">
                                <li class="uk-disabled"><span><i class="icon-angle-double-left"></i></span></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><span>...</span></li>
								<li><a href="#">19</a></li>
								<li><a href="#">20</a></li>
                                <li><a href="#"><i class="icon-angle-double-right"></i></a></li>
                            </ul><!-- .uk-pagination -->
						</div><!-- .site-pagination -->
					</div><!-- .uk-width-medium-4-6 -->
					
					<div class="uk-width-medium-2-6">
						<div class="site-widgets">
							<div class="single-widget">
								<h4 class="widget-title margin-top-remove">
									<i class="icon-search"></i> Search
								</h4><!-- .widget-title -->
								
								<form class="uk-form">
									<div class="uk-grid uk-grid-collapse">
										<div class="uk-width-5-6">
											<input type="text" class="uk-form-large uk-width-1-1" placeholder="Search...">
										</div><!-- .uk-width-5-6 -->
										
										<div class="uk-width-1-6">
											<button type="submit" class="uk-button uk-width-1-1"><i class="icon-search"></i></button>
										</div><!-- .uk-width-1-6 -->
									</div><!-- .uk-grid .uk-grid-collapse -->
								</form><!-- .uk-form -->
							</div><!-- .single-widget -->
							
							<div class="single-widget">
								<h4 class="widget-title">
									<i class="icon-tags"></i> Genres
								</h4><!-- .widget-title -->
								
								<div class="widget-content">
									<div class="genre-list">
										<a class="genre" href="#">Action</a>
										<a class="genre" href="#">Adventure</a>							
										<a class="genre" href="#">Cooking</a>
										<a class="genre" href="#">Comedy</a>
										<a class="genre" href="#">Drama</a>
										<a class="genre" href="#">Ecchi</a>
										<a class="genre" href="#">Fantasy</a>
										<a class="genre" href="#">Gaming</a>
										<a class="genre" href="#">Gore</a>
										<a class="genre" href="#">Harem</a>
										<a class="genre" href="#">Historic</a>
										<a class="genre" href="#">Horror</a>
										<a class="genre" href="#">Idol</a>
										<a class="genre" href="#">Kids</a>
										<a class="genre" href="#">Magic</a>
										<a class="genre" href="#">Martial Arts</a>										
										<a class="genre" href="#">Mecha</a>
										<a class="genre" href="#">Militar</a>
										<a class="genre" href="#">Mistery</a>
										<a class="genre" href="#">Parody</a>
										<a class="genre" href="#">Post-Apocaliptic</a>
										<a class="genre" href="#">Psychological</a>
										<a class="genre" href="#">Romance</a>
										<a class="genre" href="#">Samurai</a>
										<a class="genre" href="#">School</a>
										<a class="genre" href="#">Sci-Fi</a>
										<a class="genre" href="#">Seinen</a>
										<a class="genre" href="#">Shoujo</a>
										<a class="genre" href="#">Shounen</a>
										<a class="genre" href="#">Slice of Life</a>
										<a class="genre" href="#">Specials</a>
										<a class="genre" href="#">Sports</a>
										<a class="genre" href="#">Supernatural</a>
										<a class="genre" href="#">Suspense</a>
										<a class="genre" href="#">Terror</a>
										<a class="genre" href="#">Vampires</a>
										<a class="genre" href="#">Yuri</a>
									</div><!-- .genre-list -->
								</div><!-- .widget-content -->
							</div><!-- .single-widget -->
							
							<div class="single-widget">
								<h4 class="widget-title">
									<i class="icon-megaphone"></i> Advertising
								</h4><!-- .widget-title -->
								
								<div class="widget-content">
									<a href="#" class="thirty-zero-wide"><img src="img/300x250.png" alt="300x250 Banner"></a>
								</div><!-- .widget-content -->
							</div><!-- .single-widget -->
						</div><!-- .site-widgets -->
					</div><!-- .uk-width-medium-2-6 -->
				</div><!-- .uk-grid .uk-grid-small -->
			</div><!-- .site-content -->
			
			<footer class="site-footer">				
				<div class="footer">
					Copyright © 2018 AnimeDL
				</div><!-- .footer -->
				<a href="javascript:void(0)" class="back-to-top" title="To the Top!"><i class="icon-up-open"></i></a>
			</footer><!-- .site-footer -->
		</div><!-- .wrapper -->
	</body>
</html>