<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AnimeDL</title>
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="css/uikit.min.css">
		<link rel="stylesheet" href="css/glide.core.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
		<script src="js/jquery.min.js"></script>
		<script src="js/uikit.min.js"></script>
		<script src="js/fontawesome-all.min.js"></script>
		<script src="js/glide.min.js"></script>
		<script src="js/site-scripts.js"></script>
    </head>
	
    <body>
		<div class="wrapper">
			<header class="site-header">
				<div class="topbar">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-medium-7-10 uk-hidden-small">
							<i class="icon-lightbulb"></i>
							<span>Tip: You can put a comment, tip or announcement link here!</span>
						</div><!-- .uk-width-medium-7-10 .uk-hidden-small -->
						
						<div class="uk-width-medium-3-10">
							<div class="uk-text-right">
								<a href="#" title="Follow us on Facebook!" target="_blank">
									<i class="icon-facebook-squared"></i>
								</a>
								
								<a href="#" title="Follow us on Twitter!" target="_blank">
									<i class="icon-twitter-squared"></i>
								</a>
								
								<a href="#" title="Follow us on Google Plus!" target="_blank">
									<i class="icon-gplus-squared"></i>
								</a>
								
								<a href="#" title="Follow our Feed!" target="_blank">
									<i class="icon-rss-squared"></i>
								</a>
							</div><!-- .uk-text-right -->
						</div><!-- .uk-width-medium-3-10 -->
					</div><!-- .uk-grid .uk-grid-small -->
				</div><!-- .topbar -->	
				
				<div class="heading">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-small-1-1 uk-width-medium-3-10">
							<a href="#"><img class="site-logo" src="img/logo.jpg" alt="Logo"></a>
						</div><!-- .uk-width-small-1-1 .uk-width-medium-3-10 -->	
						
						<div class="uk-width-small-1-1 uk-width-medium-7-10 uk-hidden-small">
							<a href="#"><img class="uk-float-right" src="img/728x90.png" alt="728x90 Banner"></a>
						</div><!-- .uk-width-small-1-1 .uk-width-medium-7-10 .uk-hidden-small -->
					</div><!-- .uk-grid .uk-grid-small -->
				</div><!-- .heading -->				
				
				<div class="navbar">
					<ul>
						<li><a href="index.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="page.html"><i class="icon-star"></i> Page</a></li>
						<li class="active">
							<a href="#"><i class="icon-list-bullet"></i> Series</a>
							<ul>
								<li><a href="#">Most Popular</a>
									<ul>
										<li><a href="post.html">One Piece</a></li>
										<li><a href="post.html">Overlord</a></li>
									</ul>
								</li>
								<li><a href="#">Most Downloaded</a>
									<ul>
										<li><a href="post.html">Monster Musume</a></li>
										<li><a href="post.html">Boruto</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="search.html"><i class="icon-search"></i> Advanced Search</a></li>
					</ul>
				</div><!-- .navbar -->
			</header><!-- .site-header -->
			
			<div class="site-content">			
				<div class="uk-grid uk-grid-small">
					<div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-8-10">
						<div class="entry-details">
							<h2 class="entry-title">
								Tokyo Ghoul:re (02/??) [HD] [Subbed]
							</h2><!-- .entry-title -->
							
							<div class="entry-content">
								<div class="uk-grid uk-grid-small">
									<div class="uk-width-small-1-1 uk-width-medium-3-10">
										<div class="entry-cover">
											<img src="img/Tokyo-Ghoul-re.jpg" alt="Tokyo Ghoul:re (02/??) [HD] [Subbed]">
											
											<a href="#entry-report" class="entry-report" title="Report Broken Links!" data-uk-modal="{center:true}">
												<i class="icon-flag"></i>
											</a><!-- .entry-report -->
											
											<div class="entry-status">
												<div class="status"><i class="icon-television"></i> Status: <strong>Airing</strong></div>
											</div><!-- .entry-status -->
										</div><!-- .entry-cover -->
									</div><!-- .uk-width-small-1-1 .uk-width-medium-3-10 -->
									
									<div class="uk-width-small-1-1 uk-width-medium-7-10">
										<div class="entry-details">
											<ul class="entry-tabs" data-uk-switcher="{connect: '#entry-tab-content', animation: 'fade'}">
												<li class="uk-active">
													<a href="javascript:void(0)"><i class="icon-list"></i> Details</a>
												</li>
												
												<li><a href="javascript:void(0)"><i class="icon-play"></i> Trailer</a></li>
											</ul><!-- .entry-tabs -->
											
											<ul id="entry-tab-content" class="uk-switcher">
												<li>
													<dl class="uk-description-list-horizontal">
														<dt>Type:</dt>
														<dd>
															<a href="#">Series</a>
														</dd>
														
														<dt>Summary:</dt>
														<dd>
															Two years have passed since the CCG's raid on Anteiku. Although the atmosphere in Tokyo has changed drastically due to the increased influence of the CCG, ghouls continue to pose a problem as they have begun taking caution, especially the terrorist organization Aogiri Tree, who acknowledge the CCG's growing threat to their existence.
														</dd>
														
														<dt>Genres:</dt>
														<dd>
															<a href="#">Action</a>
															<a href="#">Drama</a>
															<a href="#">Horror</a>
															<a href="#">Mistery</a>
															<a href="#">Psychological</a>
															<a href="#">Seinen</a>
															<a href="#">Supernatural</a>
														</dd>
													</dl><!-- .uk-description-list-horizontal -->
												</li>
												
												<li>
													<div class="entry-trailer">
														<iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/-hbe7Ztn2Hg"></iframe>
													</div><!-- .entry-trailer -->
												</li>
											</ul><!-- .uk-switcher -->
										</div><!-- .entry-details -->
									</div><!-- .uk-width-small-1-1 .uk-width-medium-7-10 -->
									<div class="uk-width-1-1">
										<div class="entry-share">
											<div class="uk-grid uk-grid-small">											
												<div class="uk-width-small-1-1 uk-width-medium-1-3">
													<a href="#" class="share-fb">
														Share on Facebook
													</a>
												</div>
												
												<div class="uk-width-small-1-1 uk-width-medium-1-3">
													<a href="#" class="share-tw">
														Share on Twitter
													</a>
												</div>
												
												<div class="uk-width-small-1-1 uk-width-medium-1-3">
													<a href="#" class="share-gplus">
														Share on Google+
													</a>
												</div>
											</div>
										</div>
									</div><!-- .uk-width-small-1-1 -->
								</div><!-- .uk-grid .uk-grid-small -->							
							</div><!-- .entry-content -->
						</div><!-- .entry-details -->
					</div><!-- .uk-width-small-1-1 .uk-width-medium-1-1 .uk-width-large-8-10 -->
					
					<div class="uk-width-large-2-10 uk-visible-large">
						<div class="one-sixty-wide">
							<a class="uk-text-center" href="#">
								<img src="img/160x600.png" title="160x600 Banner">
							</a>
						</div><!-- .one-sixty-wide -->
					</div><!-- .uk-width-large-2-10 .uk-visible-large -->
				</div><!-- .uk-grid .uk-grid-small -->
				
				<div class="entry-episodes">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-small-1-1 uk-width-medium-7-10">
							<h3 class="eplist-title">
								<i class="icon-th-list"></i> Episode List
							</h3><!-- .eplist-title -->
							
							<div class="eplist-content">
								<div class="uk-scrollable-text">
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 12</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 11</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 10</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 9</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 8</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 7</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 6</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 5</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 4</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 3</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 2</a>
									<a href="#"><i class="icon-angle-right"></i> <span class="uk-text-bold">Tokyo Ghoul:re</span> - Capitulo 1</a>
								</div><!-- .uk-scrollable-text -->
							</div><!-- .eplist-content -->
						</div><!-- .uk-width-small-1-1 .uk-width-medium-7-10 -->
						
						<div class="uk-width-small-1-1 uk-width-medium-3-10">
							<h3 class="specs-title">
								<i class="icon-info-circled"></i> Technical Info
							</h3><!-- .specs-title -->
							
							<div class="specs-content">
								<table class="uk-table uk-table-striped">
									<tr>
										<td><strong>Other Titles:</strong> 東京喰種トーキョーグール：re 東京喰種トーキョーグール：re 東京喰種トーキョーグール：re</td>
									</tr>
									
									<tr>
										<td><strong>Episodes:</strong> 02/??</td>
									</tr>
									
									<tr>
										<td><strong>Server:</strong> MEGA.nz</td>
									</tr>
									
									<tr>
										<td><strong>Quality:</strong> SD/HD</td>
									</tr>
									
									<tr>
										<td><strong>Format:</strong> MP4</td>
									</tr>
									
									<tr>
										<td><strong>Filesize:</strong> 150MB</td>
									</tr>
									
									<tr>
										<td><strong>Language:</strong> Japones</td>
									</tr>
									
									<tr>
										<td><strong>Subtitles:</strong> English</td>
									</tr>
								</table><!-- .uk-table .uk-table-striped -->
								
								<a href="#" target="_blank" class="slide-button">
									<span class="slide-square"><i class="icon-download"></i></span>
									<span class="slide-title">Download All</span>
								</a><!-- .slide-button -->
							</div><!-- .specs-content -->
						</div><!-- .uk-width-small-1-1 .uk-width-medium-3-10 -->
					</div><!-- .uk-grid .uk-grid-small -->
				</div><!-- .entry-episodes -->
				
				<div class="seven-two-eight-wide">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-small-1-1">
							<a href="#">
								<img src="img/728x90.png" alt="728x90 Banner">
							</a>
						</div><!-- .uk-width-large-2-10 .uk-visible-large -->
					</div>
				</div>
				
				<div class="entry-comments">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-small-1-1">
							<h3 class="comments-title">
								<i class="icon-comment"></i> Comments
							</h3><!-- .specs-title -->
							
							<div class="comments-content">
								<div id="disqus_thread"></div>
								<script>
									/**
									*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
									*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
									**/
									var disqus_config = function () {
									this.page.url = 'http://localhost/post.html';  // Replace with your page's canonical URL variable
									this.page.identifier = 'Post'; // Replace with your page's unique identifier variable
									};
									(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://animedl-1.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
									})();
								</script>
								<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							</div>
						</div>
					</div>
				</div>
				
				<div id="entry-report" class="uk-modal">
					<div class="uk-modal-dialog">
						<a class="uk-modal-close icon-cancel"></a>
						
						<div class="uk-modal-header">
							<h5>Report</h5>
						</div>
						
						<form class="uk-form">
							<div class="uk-form-row">
								<label class="uk-form-label" for="">Reason:</label>
								<select class="uk-width-1-1 uk-margin-small-top">
									<option>Incorrect Info</option>
									<option>Wrong Trailer</option>
									<option>Broken Links</option>
								</select>
							</div>
							
							<div class="uk-form-row">
								<label class="uk-form-label" for="">Additional comments:</label>
								<textarea rows="4" class="uk-width-1-1 uk-margin-small-top"></textarea>
							</div>
						</form>
						
						<div class="uk-modal-footer uk-text-right">
							<button type="button" class="uk-modal-close uk-button">Cancel</button>
							<button type="button" class="uk-button uk-button-primary">Save</button>
						</div>
					</div>
				</div>
			</div><!-- .site-content -->
			
			<footer class="site-footer">				
				<div class="footer">
					Copyright © 2018 AnimeDL
				</div><!-- .footer -->
				<a href="javascript:void(0)" class="back-to-top" title="To the Top!"><i class="icon-up-open"></i></a>
			</footer><!-- .site-footer -->
		</div><!-- .wrapper -->
	</body>
</html>